bin/*
build/*
thirdparty/*

!bin/data

!thirdparty/CMakeLists.txt

!thirdparty/glad-gl-4.6

!thirdparty/stb
thirdparty/stb/*
!thirdparty/stb/CMakeLists.txt

!thirdparty/imgui-1.69
thirdparty/imgui-1.69/*
!thirdparty/imgui-1.69/CMakeLists.txt

!thirdparty/libaudiodecoder-master
thirdparty/libaudiodecoder-master/*
!thirdparty/libaudiodecoder-master/CMakeLists.txt

!thirdparty/steamaudio_api
thirdparty/steamaudio_api/*
!thirdparty/steamaudio_api/CMakeLists.txt